services:
  nextjs:
    container_name: nextjs
    build: .
    ports:
      - "3000:3000"
    restart: unless-stopped
    env_file:
      - .env.production

    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000"]
      interval: 10s
      timeout: 3s
      retries: 5
